<!-- <p>about works!</p> -->


<div class="about">
    <div class="text-about pt-5 ">
        <div class="d-flex justify-content-center align-items-center text-center pt-5">
            <div class="about-title pt-5 ">
                <h2 class="fw-bold big-title">About <span class="m">MENTOR</span>
                    <!-- <span class="m">A</span>b<span class="m">o</span>u<span  class="m">t</span> -->
                </h2>
                <p class="fs-4 text-center ">Mentor is deployed to provide high-quality online training
                    for everyone anytime and anywhere.</p>
            </div>
        </div>
    </div>
</div>
<div class="container pt-4">
    <div class="row">
        <div class="col-md-7">
            <!-- <span class="ms-5 ps-3 fw-bold">OUR STORY</span> -->
            <h3 class="fw-bold fs-1 mt-3 m">Mentor is educated with AI-Guide</h3>
            <p class="fs-4 mt-4">Mentor offers a real-time interactive and personalized intelligent teacher that
                adapts itself to the
                learner's needs and provides real-time targeted pedagogical support. This has been shown to make a
                big difference in learning outcomes </p>
        </div>
        <div class="col-md-5 d-flex align-items-center justify-content-center">
            <img src="../../assets/imgs/12-Best-Artificial-Intelligence-Chatbots-For-Android-1.png" class="w-100" alt=""
                srcset="">
        </div>
    </div>
</div>
<div class="container p-4">
    <div class="row">
        <div class="col-md-5 d-flex align-items-center justify-content-center">
            <img src="../../assets/imgs/w.png" class="w-100" alt="" srcset="">
        </div>
        <div class="col-md-7 d-flex align-items-center justify-content-center ps-5 mt-4">
            <div>
                <h3 class="fw-bold fs-1 mt-3 m">Our Aim on facilitating the education</h3>
                <p class="fs-4 mt-4">Students are of course central in the success of their personalized learning
                    and
                    that who makes students intrinsically motivated to learn.Instead of being told what to learn,
                    they
                    can choose their own path out of a set of options. Because what they choose is personally
                    meaningful
                    to them, they have intrinsic motivation to succeed
                </p>
            </div>
        </div>
    </div>
</div>