





/* ABOUT  */
.about{
    background-image: url(../../assets/imgs/2.avif);
    background-size: cover;
    background-position: center center ;
    background-repeat: no-repeat;
    height: 70vh;

}
.text-about{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-title h2{
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.container{
    width: 85%;
    margin-top: 5rem;
}
/* .container span ,.container p{
    color: rgb(18, 18, 105);
} */
.m{
    color: #0d6efd;
}


