<!-- <p>home works!</p> -->

<header class="w-100">
  <div class="header h-100 d-flex justify-content-center align-items-center ">
    <div class="text-white text-center">
      <h1 class="fw-bolder fs-1 text-primary mb-5">MENTOR</h1>
      <h2 class="fw-bolder mb-5 fs-1">
        <span class="fs-1 fw-bolder text-danger me-2">
          < </span>
            <span class="fs-1 fw-bolder text-warning "> / </span>
            The Mentor for Software Engineers
            <span class="fs-1 fw-bolder text-danger ms-2"> > </span>
      </h2>
      <p class="text-break fs-4 mb-5">Continuously upskilling your software engineers</p>
      <button class="discover btn rounded-pill fw-semibold me-2 border border-2 border-warning p-2 px-4 ms-lg-3"><a
          class="fs-5 text-decoration-none" routerLink="../about">Discover</a></button>
      <button
        class="register btn text-white rounded-pill fw-semibold border border-2 border-primary  p-2 px-4 ms-lg-3"><a
          class="fs-5 text-white text-decoration-none" routerLink="../signup">Register</a></button>
    </div>
  </div>

  <!-- <div class="container">
    <div class="row mb-5 py-5">
      <div class="col-md-6">
        <div class="h-100 d-flex justify-content-center align-items-center">
          <h2 class="lh-lg text-black text-center">
            The <span class="text-warning">Mentor</span> will monitor code in real time, detect issues, and
            proactively provide ways to make it better...and can teach you why.
          </h2>
        </div>
      </div>
      <div class="col-md-5 offset-lg-1">
        <img src="../../assets/imgs/m1.jpg" class="w-100 rounded-5" alt="">
      </div>
    </div>
    <div class="row mb-5 py-5">
      <div class="col-md-5">
        <img src="../../assets/imgs/m2.jpg" class="w-100 rounded-5" alt="">
      </div>
      <div class="col-md-6 offset-1">
        <div class="h-100 d-flex justify-content-center align-items-center">
          <h2 class="lh-lg text-black text-center">
            It's like having your most senior engineers advising every programmer, at every step…only better.
          </h2>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="hr bg-warning"></div> -->
</header>