header{
    background-image: url(../../assets/imgs/2.jpg) !important ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 89vh;
}
.header .register{
    background-color: #0d6efd ;
    transition: all 0.5s;
}
.header .register:hover{
    background-color: transparent ;
    transition: all 0.5s;
}
.header .discover {
    background-color: #ffc107 ;
    transition: all 0.5s;
}
.header .discover:hover{
    background-color: transparent ;
    transition: all 0.5s;
}
.bg-gray{
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.3);
}
header .header{
    height: 65vh;
}